/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variables css */
:root{
    --header-height: 3.5rem;

    /* COLORS */
    --first-color: hsl(355, 70%, 54%);
    --first-color-alt: hsl(355, 66%, 40%);
    --title-color: hsl(355, 4%, 15%);
    --text-color: hsl(355, 4%, 35%);
    --text-color-light: hsl(355, 4%, 55%);
    --body-color: #fff;
    --container-color: #fff;

    /* Fonts and typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px){
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth; /*스크롤링 부드럽게*/
}
body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    margin: var(--header-heigth) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}

/* Reusable css classes */
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
}
.main{
    overflow: hidden;
}
.section{
    padding: 4.5rem 0 1rem;
}
.section_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2-5);
    text-align: center;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-alt);
}




/* HEADER */
.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}


/* NAV */
.nav{
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo,
.nav_close,
.nav_toggle{
    color: var(--title-color);
}
.nav_logo{
    display: flex;
    align-items: center;
    column-gap: .25rem; /*열간의 갭*/
    font-weight: var(--font-medium);
}
.nav_logo-img{
    width: 1.5rem;
}
.nav_toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 1px 4px hsla(0,4%,15%,.1);
        transition: .4s;
    }
}

.nav_img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
}
.nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem; /*행간의 갭*/
}
.nav_link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_close{
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    top: 0;
}
/* Change background header */
.scroll-header{
    box-shadow: 0 1px 4px hsla(0,4%,15%,.1);
}
/* Active link */
.active-link{
    color: var(--first-color);
}



/* MAIN */
/* HOME */
.home_container{
    padding-top: 1.5rem;
    row-gap: 1.5rem;
}
.home_img{
    width: 320px;
    justify-self: center;
}
.home_data{
    text-align: center;
}
.home_title{
    font-size: var(--biggest-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-0-5);
}
.home_description{
    font-size: var(--small-font-size);
    padding: 0 2rem;
    margin-bottom: var(--mb-2-5);
}

/* GIVING */
.giving_container{
    grid-template-columns: repeat(2, 1fr); /*열의 크기 -> repeat(반복되는 횟수,공간비율)*/
    gap: 2.5rem 1.5rem; /*row-gap column-gap*/
}
.giving_content{
    text-align: center;
}
.giving_img{
    width: 100px;
    transition: .3s;
}
.giving_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}
.giving_description{
    font-size: var(--small-font-size);
}
.giving_img:hover{
    transform: translateY(-.25rem);
}

/* CELEBRATE */
.celebrate_container{
    row-gap: 1rem;
}
.celebrate_data{
    text-align: center;
}
.celebrate_title{
    margin-bottom: var(--mb-1-5);
}
.celebrate_description{
    margin-bottom: var(--mb-2-5);
}
.celebrate_img{
    width: 280px;
    justify-self: center; /*justify-self : 개별 아이템 가로 정렬*/
}

/* GIFT */
.gift_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.gift_card{
    display: grid;
    position: relative;
    background-color: var(--container-color);
    box-shadow: 0 4px 16px hsla(355,25%,15%,.1);
    padding: 1.5rem 1rem 1rem;
    border-radius: .75rem;
}
.gift_img{
    width: 100px;
    justify-self: center;
    margin-bottom: var(--mb-0-25);
    transition: .3s;
}
.gift_icon{
    font-size: 1.25rem;
    color: var(--first-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.gift_price{
    font-size: var(--h3-font-size);
}
.gift_title{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
}
.gift_card:hover .gift_img{
    transform: translateY(-.25rem);
}

/* NEW */
.new_card{
    position: relative;
    width: 230px;
    background-color: var(--container-color);
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
    padding: 1rem 1rem 1.5rem;
    border-radius: .75rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
}
.new_overlay{
    width: 250px;
    height: 250px;
    background-color: var(--first-color);
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: -.65rem;
    z-index: 0;
}
.new_img{
    position: relative;
    width: 150px;
    margin-bottom: var(--mb-2);
    transition: .3s;
}
.new_price{
    font-size: var(--h2-font-size);
}
.new_title{
    font-weight: var(--font-medium);
}
.new_button{
    display: flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
.new_icon{
    font-size: 1.25rem;
}
.new_card:hover .new_img{
    transform: translateY(-.5rem);
}
/* Class Swiper */
.swiper-pagination-bullet{ /*bullet 버튼 스타일*/
    background-color: var(--text-color);
}
.swiper-pagination-bullet-active{ 
    background-color: var(--first-color);
}

/* MESSAGE */
.message_container{
    row-gap: 3rem;
    background-color: var(--first-color);
    padding: 2.5rem 1.5rem;
    border-radius: 1.25rem;
}
.message_form{
    text-align: center;
}
.message_title{
    color: #fff;
    margin-bottom: var(--mb-1-5);
}
.message_input{
    width: 100%;
    background: #fff;
    color: var(--text-color);
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    margin-bottom: var(--mb-1);
}
.message_button{
    background-color: var(--title-color);
    width: 100%;
}
.message_button:hover{
    background-color: var(--title-color);
}
.message_img{
    width: 200px;
    justify-self: center;
    transform: rotate(15deg);
}


/* FOOTER */
.footer{
    overflow: hidden;
}
.footer_container{
    position: relative;
    row-gap: 2rem;
}
.footer_logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.footer_logo-img{
    width: 1.5rem;
}
.footer_description{
    font-size: var(--small-font-size);
}
.footer_logo,
.footer_title{
    margin-bottom: var(--mb-1);
}
.footer_title{
    font-size: var(--h3-font-size);
}
.footer_links,
.footer_aviables{
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}
.footer_link{
    color: var(--text-color);
    transition: .3s;
}
.footer_link:hover{
    color: var(--title-color);
}
.footer_aviable-img{
    width: 100px;
    cursor: pointer;
}
.footer_copy{
    display: block;
    margin: 3.5rem 0 1rem 0;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.footer_img1,
.footer_img2{
    position: absolute;
    width: 100px;
}
.footer_img1{
    top: 25%;
    right: 2rem;
}
.footer_img2{
    top: 75%;
    right: -4rem;
}


/* SCROLL UP */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0,0%,20%,.1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}
.scrollup_icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.scrollup:hover{
    opacity: 1;
}

/* Show Scroll Up */
.show-scroll{
    bottom: 3rem;
}



/* SCROLL BAR */
::-webkit-scrollbar{
    width: .6rem;
    background: hsl(355, 8%, 44%);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    background: hsl(355,32%,17%);
    border-radius: 1rem;
}


/* BREAK POINTS */
/* For small devices */
@media screen and (max-width: 320px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .giving_container{
        gap: 1rem;
    }
    .gift_container{
        grid-template-columns: 150px;
        justify-content: center;
    }
}
/* For medium devices */
@media screen and (min-width: 576px){
    .home_description{
        padding: 0 8rem;
    }
    .giving_container{
        grid-template-columns: repeat(2, 142px);
        justify-content: center;
        gap: 2.5rem 3.5rem;
    }
    .celebrate_description{
        padding: 0 4rem;
    }
    .gift_container{
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        gap: 2rem;
    }
    .message_input,
    .message_button{
        width: 60%;
    }
    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 767px){
    body{
        margin: 0;
    }
    .section{
        padding: 6.5rem 0 2rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }
    .nav_toggle,
    .nav_close,
    .nav_img{
        display: none;
    }
    .nav_menu{
        margin-left: auto;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .home_container,
    .celebrate_container,
    .message_container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .home_container{
        padding-top: 8rem;
    }
    .home_data{
        text-align: initial;
    }
    .home_description{
        padding: 0;
    }
    .giving_container{
        grid-template-columns: repeat(3, 142px);
        column-gap: 5rem;
    }
    .celebrate_data,
    .celebrate_title{
        text-align: initial;
    }
    .celebrate_description{
        padding: 0;
    }
    .gift_container{
        grid-template-columns: repeat(3, 200px);
        gap: 2.5rem;
    }
    .footer_container{
        grid-template-columns: repeat(3,1fr);
    }
}
/* For large devices */
@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .home_container{
        column-gap: 1rem;
    }
    .home_img{
        width: 500px;
    }
    .home_description{
        padding-right: 8rem;
    }
    .giving_container{
        column-gap: 8rem;
        padding-top: 2rem;
    }
    .giving_img{
        width: 120px;
    }
    .celebrate_img{
        width: 450px;
    }
    .celebrate_description{
        padding-right: 7rem;
    }
    .gift_container{
        padding-top: 2rem;
    }
    .gift_card{
        padding: 2rem 1.5rem 1.5rem;
    }
    .gift_img{
        width: 120px;
        margin-bottom: var(--mb-1);
    }
    .gift_title{
        font-size: var(--small-font-size);
    }
    .new_container{
        padding-top: 2rem;
    }
    .new_card{
        margin-bottom: 5rem;
    }
    .new_price{
        font-size: var(--h3-font-size);
    }
    .message_container{
        padding: 3.5rem 0;
        grid-template-columns: repeat(2, max-content);
        column-gap: 4rem;
        justify-content: center;
    }
    .message_form{
        text-align: initial;
    }
    .mesaage_title{
        font-size: var(--h1-font-size);
    }
    .message_input{
        display: block;
        width: 280px;
    }
    .message_button{
        width: initial;
    }
    .message_img{
        width: 320px;
    }
    .footer_container{
        grid-template-columns: repeat(4,max-content);
        justify-content: space-between;
    }
    .footer_copy{
        margin-top: 7rem;
    }
    .footer_img1,
    .footer_img2{
        width: 120px;
    }
    .footer_img1{
        top: 100%;
        left: 0;
    }
    .footer_img2{
        top: 40%;
        right: -7rem;
    }
    .scrollup{
        right: 3rem;
    }
}